:root {
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --tertiary-color: #3498db;
    --quaternary-color: #e74c3c;
}

body {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}


header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px 0;
    border-bottom: 5px solid var(--tertiary-color);
    text-align: center;;
}

.header h1 {
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    
}

nav ul li a:hover {
    color: var(--tertiary-color);
    text-decoration: underline;
    transform: scale(1.5);
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.work-sample {
    border: 1px solid var(--primary-color);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    transition: transform 0.3s ease;
}

.work-sample:hover {
    transform: scale(1.1);
}

.work-sample img {
    display: block;
    margin: 0 auto;
}

.work-samples-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}

#Projectone{
    grid-column: span 2;
}

section {
    margin: 20px 0;
    width: 80%;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#about,
#work {
    order: 1;
}
.work-sample article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact {
    order: 2;
}

#top-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
@media (min-width: 768px) {
    #top-section {
        flex-direction: row;
    }

    main {
        justify-content: flex-start;
    }

    #about {
        width: 25%;
    }

    #work {
        width: 75%;
        border: 5px solid var(--primary-color);
    }

    #contact {
        width: 100%;
        border: 5px solid var(--primary-color);
    }
}



@media (max-width: 768px) {
    #top-section {
        flex-direction: column;
    }

    #about, #work, #contact {
        width: 100%;
    }
}
#about {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--primary-color);
    text-align: left;

    transition: transform 0.3s ease;
}
#about:hover {
    transform: scale(1.2);
}

#about h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
        text-align: center;
        font-size: 2em; /* Adjust size as needed */
        font-style: italic;
}

#about img {
    margin-bottom: 20px;
    border: 5px solid var(--primary-color);
}

#about p {
    font-weight: bold;

}

#work h2 {
    text-align: center;
    font-size: 2em; /* Adjust size as needed */
    text-decoration: underline;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    
    width: 100%;
    bottom: 0;
}